$color-1: blue;
$color-2: rgb(36, 36, 163);
$color-3: rgb(156, 156, 244);
$border: 20px;
$font-1: 'Roboto Condensed', sans-serif;
$font-2: 'Ysabeau', sans-serif;
$shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);