*{
    box-sizing: border-box;
}
.header{
    font-family: 'Roboto', sans-serif;
    border: 10px solid black;
    height: 50vh;
    padding: 0 20px;
    
    &__nav{
        display: flex;
        flex-direction: column;
        list-style: none;
        color: white;
        align-items: center;
        & li{
            padding: 10px;
            font-weight: 300;
            background-color: rgb(47, 129, 139);
            width: 100%;
            text-align: center;
            &:hover {
                background-color: rgb(27, 74, 81);
            }
        }
    }

    @media screen and (min-width: 450px){
        border: none;
        &__nav{
            flex-direction: row;
        }
    }
}