$color-1: rgb(255, 0, 0);
$color-2: blue;
$color-3: green;

$percentage-1: 5%;
$percentage-2: 10%;
$percentage-3: 15%;
$percentage-4: 20%;

@mixin dark($color, $percentage) {
    background-color: darken($color, $percentage);
}

@mixin light($color, $percentage) {
    background-color: lighten($color, $percentage);
}
.container-1, .container-2, .container-3{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.box{
   padding: 30px 20px;
   color: white;
   border-radius: 5%;
 
}
.base-color {
  background-color: $color-1;
  padding: 30px 40px;
}

.container-1{
    .darken-1{
        @include dark($color-1, $percentage-1)
    }
    .darken-2{
        @include dark($color-1, $percentage-2)
    }
    .darken-3{
        @include dark($color-1, $percentage-3)
    }
    .darken-4{
        @include dark($color-1, $percentage-4)
    }
    .lighten-1{
        @include light($color-1, $percentage-1)
    }
    .lighten-2{
        @include light($color-1, $percentage-2)
    }
    .lighten-3{
        @include light($color-1, $percentage-3)
    }
    .lighten-4{
        @include light($color-1, $percentage-4)
    }
}

